/node_modules
# Ignore les fichiers et répertoires spécifiques à pnpm
.pnp/
.pnp.js

# Ignore les répertoires de stockage des paquets pnpm
node_modules/.pnpm/

# Ignore les répertoires de cache pnpm
pnpm-lock.yaml
.pnpm-store/

# Ignore les fichiers générés par l'éditeur ou l'IDE
.vscode/
.idea/
*.sublime-*
*.swp
.DS_Store

# Ignore les fichiers de configuration utilisateur
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
